.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
16x16AvgMag.pdf
16x16HeatCapacity.pdf
16x16MagSus.pdf
32x32AvgMag.pdf
32x32HeatCapacity.pdf
32x32MagSus.pdf
4x4AvgMag.pdf
4x4HeatCapacity.pdf
4x4MagSus.pdf
8x8AvgMag.pdf
8x8HeatCapacity.pdf
8x8MagSus.pdf
CummulativeAvgMag.pdf
CummulativeCorrelationTimes.pdf
CummulativeHeatCap.pdf
CummulativeMagSus.pdf
avgMagVsTime.txt
dataPlotTest.txt
energyVsTime.txt
projects.iml
src/HelloWorld.class
src/HelloWorld.java
stdoutPd.txt
testfile.txt
velocitiesdump2.txt
KineticVsStepQ1.pdf
PotenVsStepsQ1.pdf
TEvsStepsQ1.pdf
correlationFunctionPressure.pdf
pressureVsSteps.pdf
semiLogCorrelationFunctionPressure.pdf
stdoutPressurePd.txt
velocityDistributionQ2.pdf
data4_90.txt
data4_91.txt
data4_92.txt
data4_93.txt
data4_94.txt
data4_95.txt
pressureVsVolumeQ4.pdf


